/* navbar styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}

.navbar .toggle,
.navbar .brand {
	display: inline-block;
	text-align: center;
}

.navbar .link {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	text-decoration: none;
	background: white;
	color: #000;
}

.navbar .link:hover,
.navbar .link:active {
	background-color: rgb(236, 234, 234);
}

.navbar .bookmark:hover, 
.navbar .bookmark:active {
	background-color: none;
	cursor: pointer;
}

.navbar .bookmark .link, 
.navbar .bookmark .link {
	background-color: inherit;
}

.navbar .brand {
	text-align: center;
	background: white;
	vertical-align: middle;
}

.navbar img{
	height: auto;
    width: auto;
    max-height: 30px;
	padding: 5px;
}

.navbar .profile {
	padding: 0;
	margin: 0;
}

.navbar .profile img{
	max-height: 50px;
}

.navbar .brand img{
	height: auto;
    width: auto;
    max-height: 35px;
	padding: 5px;
}

.navbar .toggle {
	padding: 1em;
	color: black;
	vertical-align: middle;
}

/* slideshow */
.slideshow .mySlides img {
	width: 100%;
}

@media (min-width: 48em) {
	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar .left,
	.navbar .right {
		display: flex;
		flex: 1;    
		align-items: center;
	}
	
	.navbar .link {
		width: auto;
		border-right: 1px solid #999;
	}

	.navbar .link:last-child {
		border-right: none;
	}

	.navbar .right {
		justify-content: flex-end;
	}

	.navbar .toggle {
		display: none;
	}

	.navbar .bookmark {
		align-items: center;
		padding: 0 10px
	}

	.navbar .bookmark .link {
		margin: 0;
		padding: 0;
		border-right: none;
	}
}

.navbar div {
	display: none;
}

@media (min-width: 48em) {
	.navbar div {
		display: flex;
	}
}

@media (max-width: 48em) {
	.navbar.active .toggle {
		background: seagreen;
		color: white;
	}

	.navbar.active div {
		display: block;
	}
}

.cback{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.ctreel{
	position: absolute;
	top: 60px;
	left: 500px;
	z-index: 1;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ctext{
	position: absolute;
	top: 355px;
	left:540px;
}

.cbooksanimation{
	margin-top:-310px;
}

.chandl{
	position:absolute;
	top:565px;
	left:-35px;
}

.chandr{
	position:absolute;
	top:600px;
	left:1270px;
}

.ccloudl{
	position:absolute;
	top:300px;
	left:-335px;
	opacity:0.3;
}

.ccloudr{
	position:absolute;
	top:130px;
	left:400px;
	opacity:0.7;
}



.cbook1{
	position:absolute;	
left:500px;
z-index: 5;
}

.cbook2{
	position:absolute;
	left:600px;
	z-index: 4;
}

.cbook3{
	position: absolute;
	left:700px;
	z-index:3;
}

.cbook4{
	position:absolute;
	left:800px;
	z-index: 4;
}
.cbook5{
	position:absolute;
	left:900px;
	z-index: 5;
}

.part b{
	box-sizing: border-box;
}

.mySlides {
	display: none
}



.slideshow{
  position: relative;
  margin-top: 320px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;

}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*three dots*/

/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} */


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.partc img {
	width: 100%;
}
.heading{
	margin-left: 60px;
}

.butt1{
	margin-top:-550px;
	margin-left: 362px;
	font-size:90px
}

.butt1 button{
	background: white;
	margin-left: 330px;
	border-radius: 50px;
	font-size:25px
}

.butt1 button:hover{
	background:red;
	color:#fff;
}

.parte p{
	font-size: 50px;
	text-align: center;
	margin-top: 290px;
}

.laptop img{
	width: 700px;
	margin-left: 100px;
	margin-top: 70px;
}

.phone img{
	height:580px;
	margin-left: 70%;
	margin-top: -4000px;
	padding-bottom: 90px;
}

.laptop p{
	font-size: 30px;
	margin-left:-600px;
	margin-top: 15px;	
}

.phone p{
	font-size: 30px;
	margin-right:-840px;
	margin-top: -80px;	
}

#lbutt{
	background:white;
	padding:10px 10px 10px 10px;
	font-size: 18px;
	margin-left:380px;
}

#pbutt{
	background:white;
	padding:10px 10px 10px 10px;
	font-size: 18px;
	margin-left:1120px;
}

