/* navbar styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar {
	background: #fff;
}

.navbar .toggle,
.navbar .brand {
	display: inline-block;
	text-align: center;
}

.navbar .link {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 10px;
	text-decoration: none;
	background: white;
	color: #000;
}

.navbar .link:hover,
.navbar .link:active {
	background-color: rgb(236, 234, 234);
}

.navbar .bookmark:hover, 
.navbar .bookmark:active {
	background-color: none;
	cursor: pointer;
}

.navbar .bookmark .link, 
.navbar .bookmark .link {
	background-color: inherit;
}

.navbar .brand {
	text-align: center;
	background: white;
	vertical-align: middle;
}

.navbar img{
	height: auto;
    width: auto;
    max-height: 30px;
	padding: 5px;
}

.navbar .brand img{
	height: auto;
    width: auto;
    max-height: 35px;
	padding: 5px;
}

.navbar .toggle {
	padding: 1em;
	color: black;
	vertical-align: middle;
}

@media (min-width: 48em) {
	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar .left,
	.navbar .right {
		display: flex;
		flex: 1;    
		align-items: center;
	}
	
	.navbar .link {
		width: auto;
		border-right: 1px solid #999;
	}

	.navbar .link:last-child {
		border-right: none;
	}

	.navbar .right {
		justify-content: flex-end;
	}

	.navbar .toggle {
		display: none;
	}

	.navbar .bookmark {
		align-items: center;
		padding: 0 10px
	}

	.navbar .bookmark .link {
		margin: 0;
		padding: 0;
		border-right: none;
	}
}

.navbar div {
	display: none;
}

@media (min-width: 48em) {
	.navbar div {
		display: flex;
	}
}

@media (max-width: 48em) {
	.navbar.active .toggle {
		background: seagreen;
		color: white;
	}

	.navbar.active div {
		display: block;
	}
}

